@charset "UTF-8";

body,ul,p,div,span,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'montserratlight';
}

/*body::-webkit-scrollbar {
    width: 0.4em;
}
body::-webkit-scrollbar-button {
    background: #ccc
}
body::-webkit-scrollbar-track-piece {
    background: #888
}
body::-webkit-scrollbar-thumb {
    background: #15aec9;
}​*/

.wow {
    visibility: visible;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.clear {
    clear: both;
}

.width20_per {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}

.width30_per {
    width: 30% !important;
    display: inline-block;
    box-sizing: border-box;
}

.width33_per {
    width: 33.33%;
    box-sizing: border-box;
    position: relative;
    float: left;
}

.width36_per {
    width: 36%;
    display: inline-block;
    box-sizing: border-box;
}


.width40_per {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}

.width50_per
{
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
}

.width_half { 
    width: 50%;
    float: left;
}
.width58_per
{
    width: 58%;
    display: inline-block;
    box-sizing: border-box;
}

.width68_per
{
    width: 68%;
    display: inline-block;
    box-sizing: border-box;
}

.width78_per
{
    width: 78%;
    display: inline-block;
    box-sizing: border-box;
}

.width80_per
{
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
}

.padd {
    padding: 20px 30px 20px 15%;
    /*padding-right: 108px;*/
}

.ver_align {
    vertical-align: middle;
}

.width100_per {
    width: 100%;
}

.width50_per2 {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.width40_per2 {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}

.width60_per2 {
    width: 63%;
    display: inline-block;
    box-sizing: border-box;
} 
.width60_per {
    width: 60%;
}

.text_alignr {
    text-align: right;
}

.text_alignl {
    text-align: left;
}

.text_alignc {
    text-align: center;
}

.color_skyblue {
    color: #17aec8;
}

.color_white {
    color: #fff;
}

.bg_color_skyblue {
    background: #17aec8;
}

.bg_color_darkblue {
    background: #0d1b28;
}

.bg_color_grey {
    background: #f2f3f4;
}

.bg_light_blue
{
    background: #e1e9f0;
}

.h100_per {
    height: 100%;
}
.marr18 {
    margin-right: 18px;
}

.mart500 {
    margin-top: 460px;
}

.padtb10 {
    padding: 10px 0;
}

.padtb20 {
    padding: 20px 0;
}


.padt119{
    padding-top: 119px;
}

.padt75{
    padding-top: 75px;
}

.padt50{
    padding-top: 50px;
}

.marb26
{
    padding-bottom: 26px;
}

.padb140
{
    padding-bottom: 140px;
}

.padb85
{
    padding-bottom: 85px;
}

.padr2_per
{
    padding-right: 2%;
}

.padr6_per
{
    padding-right: 6%;
}

.padb10
{
    padding-bottom: 10px;
}

.padb20
{
    padding-bottom: 20px;
}

.m-t-20
{
    margin-top: -20px;
}

.floatr {
    float: right;
}

.floatl {
    float: left;
}

.marcenter {
    margin: 0 auto;
}

.wrapper
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.img-responsive {
    width: 100%;
}

.wrapper > .container
{
    width: 87%;
    max-width: 1366px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
}

.wrapper.header_menu
{
    background: #0d1b28;
    color: #fff;
    padding: 9px 0;
}

.wrapper.nav_menu
{
    background: #f4f6f9;
    padding: 12px 0;
    box-shadow: 2px 2px 10px 0px #ccc;
    -webkit-box-shadow: 2px 2px 10px 0px #ccc;
    -o-box-shadow: 2px 2px 10px 0px #ccc;
    -moz-box-shadow: 2px 2px 10px 0px #ccc;
}

.wrapper > .container > div.black_header
{
    display: inline-block;
    font-family: 'montserratregular';
    font-size: 16.67px;
}

.wrapper > .container img
{
    vertical-align: middle;
}

.social_icon > span
{
    display: inline-block;
    margin-left: 8%;
}

.social_icon {
    margin-top: -3px;
}

nav img
{
    vertical-align: middle;
}

nav ul li {
    list-style: none;
    font-family: 'montserratlight';
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 2%;
    color: #3a3a3a;
    /*line-height: 60px;*/
    /*font-weight: 600;*/    
}

nav ul li:first-child {
    margin-left: 0%;
}

nav ul li:last-child
{
    margin-right: 0%;
}

nav ul li:last-child a {
    color: #fff;
    line-height: 62px;
    padding: 15px;
}

.header_font_wrapper
{
    padding: 25px 0;
}

.header_font_wrapper .font-style
{
    font-family: 'montserratregular';
    font-size: 30px;
    /*font-weight: bold;*/
    /*font-size: 34.72px;*/
}

.bg_img
{
    background:  url('../images/banner.png') no-repeat 100% 100%;
    background-size: cover;
    height:584px;
}

.width50_per > .create_btn
{    
    color: #fff;
    width: 34.1%;
    text-align: center;    
    margin: 0 auto;
    font-family: 'montserratregular';
    font-weight: 400;
    font-size: 19.44px;
    text-transform: uppercase;
    box-shadow: 2px 2px 25px 0px rgba(5,33,51,0.55);
    -webkit-box-shadow: 2px 2px 25px 0px rgba(5,33,51,0.55);
    -moz-box-shadow: 2px 2px 25px 0px rgba(5,33,51,0.55);
    -o-box-shadow: 2px 2px 25px 0px rgba(5,33,51,0.55);
    /*float: right;
    bottom: 0;
    right: 0;
    padding: 5% 3.2%;*/
}

/*.width50_per > .create_btn.marr2
{
    margin-right: 2.5%;
}*/

.width50_per > .create_btn > a
{
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 10% 12%;
    line-height: 25px;
}

.bg_color_darkblue a:hover, .bg_color_darkblue:hover {
    color: #17aec8;
}

.bg_color_skyblue a:hover, .bg_color_skyblue:hover {
    color: #0d1b28;
}

.wrapper > .container > div.benefit_wrapper
{
    padding: 0.3% 0 1.4% 0;
}

.wrapper > .container > div.benefit_wrapper > h1
{
    color: #17aec8;
    font-family: 'montserratregular';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 15px 0;
    line-height: 30px;
}

.wrapper > .container > div.benefit_wrapper > p {
    color: #353535;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.wrapper > .container > div.benefit_wrapper2 {
    padding: 30px 0 30px 0;
}

.wrapper > .container > div.benefit_wrapper2 > h1 {
    color: #17aec8;
    font-family: 'montserratregular';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0 15px 0;
    line-height: 30px;
}

.wrapper > .container > div.benefit_wrapper2 > p {
    color: #353535;
    font-family: 'montserratlight';
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-weight: normal;
}

.width33_per > img {
    width: 100%;
}

.width33_per > h2 {
    font-family: 'montserratlight';
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    margin-left: 6%;
    width: 80%;
    line-height: 41.67px;
}

#personal .width33_per > h2 {    
    line-height: 10;
}

.top356 {
    top: 356px;
}

.bottom25 {
    bottom: 25px;
}

.top110 {
    top: 110px;
}


/*
section:after
{
content: '';
clear: both;
display: block;
}

section:before
{
content: '';
display: block;
}
*/

.width33_per > .humanity_wrapper
{
    background: #fff;
    padding: 20px 4% 10px 4%;
    bottom: 0;  
    display: none;
    position:absolute;
}

.width33_per > .humanity_wrapper h2 {
    font-family: 'montserratregular';
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.width33_per > .humanity_wrapper p {
    font-family: 'montserratlight';
    font-size: 16px;
    color: #3a3a3a;
    line-height: 25px;
    text-align: left;
    margin-bottom: 6px;
}

.read-more {
    color: #17aec8;
    text-transform: uppercase;
    margin-left: 10px;
}

.read-more:hover {
    text-decoration: underline;
}

.humanity_wrapper > hr
{
    padding: 0;
    margin:0;
    border: 0;
    width: 100%;
    height: 1px;
    background: #d0d0d0;
}

.width33_per > .humanity_wrapper p.right_arrow
{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 5px;
}

.benefit_wrapper_box_shadow {
    -webkit-box-shadow: 2px 2px 10px 5px #ccc;
    -o-box-shadow: 2px 2px 10px 5px #ccc;
    -moz-box-shadow: 2px 2px 10px 5px #ccc;
    box-shadow: 2px 2px 10px 5px #ccc;
    display: block;
    height: auto;
    margin-bottom: 60px;
}

.martb39 {
    margin: 39px 0;
}

.business_box {
    margin-top: -80px;
}

.business_wrapper.floatr .business_btn_wrapper {
    margin-right: 45px;
}

.business_wrapper.floatl .business_btn_wrapper {
    margin-left: 75px;
}

.business_wrapper > h1 {
    color: #17aec8;
    font-family: 'montserratregular';
    font-size: 30px;
    margin: 30px 0 15px 0;
    font-weight: 600;
    text-align: center;
}

.business_wrapper > p {
    color: #353535;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.business_wrapper > a > p { 
    color: #353535;
    font-family: 'montserratlight';
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 10px;
}
.business_wrapper > .business_btn_wrapper {
    width:60%;
    color: #fff;
    margin: 0 auto;
}

.business_wrapper > .business_btn_wrapper > a > p {
    padding: 20px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserratlight';
    font-size: 15px;
}

.business_wrapper > .business_btn_wrapper2 {
    width: 60%;
    color: #fff;
    margin: 28px auto;
}

.business_wrapper > .business_btn_wrapper2 > p {
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserratlight';
    font-size: 19px;
}

.wrapper > .container > footer {
    padding: 30px 0;
}

footer > .width_35_per {
    width: 35%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

footer > .width_65_per {
    width: 64.5%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

footer > .width_65_per h1 {
    font-family: 'montserratlight';
    font-size: 16px;
    color: #fff;
}
footer > .width_65_per p {
    font-family: 'montserratlight';
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    color: #fff;
}

.b-t-b {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

footer > div > div.width58_per span {
    font-family: 'montserratlight';
    font-size: 14px;
    vertical-align: middle;
}

footer > .info_footer {
    display: table;
    width: 100%;
}

footer > .info_footer > .width_40_per {
    width: 40.5%;
    display: table-cell;
    position: relative;
    text-align: left;
}

footer > .info_footer > .width_21_per {
    width: 21%;
    display: table-cell;
    position: relative;
    text-align: left;
}

footer > .info_footer h3 {
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding-top: 10px;
}

footer > .info_footer p {
    font-family: 'montserratlight';
    font-size: 14px;
    color: #fff;
}

footer > .info_footer ul {
    list-style: none;
    color: #fff;
}

footer > .info_footer ul li {
    font-family: 'montserratlight';
    font-size: 14px;
}

footer > .info_footer ul li a:hover {
    color: #17aec8;
    background: transparent;
}

footer > .info_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
footer > .info_footer input[type="text"] {
    width: 257px;
    padding: 5px 15% 5px 5%; 
    box-sizing: border-box;
    border: 1px #fff solid;
    color: #fff;
}

footer > .info_footer .width_21_per .email_input_box
{
    background: url(../images/icons/email-icon.png) no-repeat right;    
    font-size: 14px;
}

input[type="text"].email_input_box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input[type="text"].email_input_box::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
input[type="text"].email_input_box:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
input[type="text"].email_input_box:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

footer > .info_footer div.p_marb p {
    margin-bottom: 20px;
}

footer > .footer_bottom_wrapper {
    background: #fff;
    margin: 0;
}

.footer_bottom_wrapper > p { 
    color: #b3b1b0;
    padding: 10px 0;
    font-family: 'montserratregular';
    font-size: 14px;
    text-align: center;
}

.feature_box {    
    width: 86%;
    min-height: 195px;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5% 0 3%;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
    -webkit-box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
    -moz-box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
}

.feature_box > h1 {
    text-align: center;
    font-family: 'montserratregular';
    font-weight: 400;
    font-size: 25px;
    color: #15aec9;
    text-transform: uppercase;
    border-bottom: 1px #aaa8a9 solid;
    padding-bottom: 15px;
}

.feature_box > p {
    text-align: center;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 25px;
    color: #3a3a3a;
}

.feature_box p.last-child {
    padding: 15px 10px;
}

.feature_box > .feature_circle {
    display: table-cell;
    position: absolute;
    border-radius: 100%;
    background: #15aec9;
    margin: 0 30%;
    width: 100px;
    height: 100px;
    top: -70px;
    z-index: 100;
    vertical-align: top;
}

.feature_box_img > img {
    width: 800px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.feature_box_icon_img > img {
    width: 45px;
    top: 25%;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
}

#myheight {
    vertical-align: top; 
    overflow-y: auto;
}

.about {
    background: #fff;    
    box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
    -webkit-box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
    -moz-box-shadow: 2px 2px 10px -2px rgba(146, 146, 146, 0.29);
}

.team {
    width: 680px;
}

.about:after {
    content: "";
    background: url(../images/Automate-America-logo.png) no-repeat right;
    width: 190px;
    height: 240px;
    position: absolute;
    display: inline-block;
    top: -6px;
    left: 37%;
}

.m-t-250 {
    margin-top: 17%;
}

.p-b-20 {
    padding-bottom: 20px;
}

.width60_per2.padd.floatr h1 { 
    font-family: 'montserratregular';
    font-size: 27px;
    color: #17aec8;
    line-height: 50px;
    text-transform: uppercase;
}

.width60_per2.padd.floatr p { 
    font-family: 'montserratlight';
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px;
    color: #3a3a3a;
}

.width60_per2.padd.floatr p:last-child {
    margin-bottom: 0px;
}

.welcome_box > .wel_content {
    margin:2% 0 0px 10%;
    float: left;
    width: 37%;
}

.welcome_box > .wel_bg_cnt > .wel_content > h1 {
    color: #fff;
    font-family: 'montserratlight';
    font-size: 30px;
    text-align: center;
}

.welcome_box > .wel_bg_cnt > .wel_content > p {
    color: #fff;
    font-family: 'montserratlight';
    font-size: 19px;
    text-align: center;
    margin: 3% 0;
}

.welcome_box > .wel_bg_cnt > .wel_content input[type="text"] {
    display: block;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    width: 82%;
    padding: 15px 4%;
    font-family: 'montserratlight';
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 10px 0px #666;
    -o-box-shadow: 0px 0px 10px 0px #666;
    -moz-box-shadow: 0px 0px 10px 0px #666;
    box-shadow: 0px 0px 10px 0px #666;
    border: 0;
}

.welcome_box img.padt5 { 
    padding: 2.5% 0;
}

.welcome_box > .wel_bg_cnt > .wel_content input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #929292;
}
.welcome_box > .wel_bg_cnt > .wel_content input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #929292;
}
.welcome_box > .wel_bg_cnt > .wel_content input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #929292;
}
.welcome_box > .wel_bg_cnt > .wel_content input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #929292;
}

.welcome_box > .wel_bg_cnt > .wel_content input[type="text"].marb35 {
    margin-bottom: 35px;
}

.img_width50 {
    width: 50%;
}


/*BUSINESS & CONTRACTOR*/
.column_business {
    width:40%;
    display: inline-block;
    
}
.column_middle {
    display: inline-block;
    /*padding: 0px 11px;*/
    width: 19%;
    transform: translateY(-350px);
    box-sizing: border-box;
}

.column_contractor {
    width:40%;
    display: inline-block;
}

.head-part h3, .head-part2 h3 {
    color: #17aec8;
    font-family: 'montserratregular';
    font-size: 30px;
    margin: 30px 0 15px 0;
    font-weight: 600;
    text-align: center;
}

.head-part p, .head-part2 p {
    width: 77%;
    color: #353535;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.head-part p {    
    margin-left: 17%;
}

.head-part2 p {    
    margin-left: 6%;
}

.btn_buss, .btn_cntr {
    margin-top: -3.8em;
    text-align: center;
    width: 40%;
    position: absolute;
}

.btn_buss a, .btn_cntr a {    
    padding:10px 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

}



/*Header smooth scroll*/

body {
  margin: 0;
  padding-top: 87px;
}

header {  
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

.nav-up {
  top: -87px;
}

.desk-none {
    display: none;
}


/*Navigation css*/
#nav-icon {
  width: 45px;
  height: 45px;
  position: relative;
  margin: 20px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 0px;
  width: 50%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon */

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 8px;
}


/*=====About Us=======*/

.aboutbg{    
    background: url('../images/aboutbg.jpg');
    background-size: 100% 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    background-repeat: no-repeat !important;
}

.aboutbg:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(16, 21, 22, 0.6);
    transition: all 500ms ease;
    z-index: 1;
}

.about_right_para p {
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 23px;
    color: #fff;
}

.about-title{padding-bottom: 10px;}

.about-title h1{
    color: #fff;
    font-family: 'montserratregular';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0 15px 0;
    line-height: 30px;
    text-transform: uppercase;
}

.abt_left{
    display: inline-block;
    width: 48%;
}

.about_container{
    display: inline-block;
    width: 100%;
}


.about_right_para{width: 50%;}

.read_btn{
        width: 45%;
        text-align: center;
        padding: 10px ;
        position: absolute;
        bottom: 0
    }

.read_btn a{
    padding: 10px 50px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    
}

/***Write to us***/

 .wel_bg_cnt{
        background-color: #17aec8;
        float: left;
        width: 65%;
        position: absolute;
        padding: 2.5% 0 3% 14%;
    }

    #welcome_img{  
      width: 46%;
    float: right;}

    .welcome_box > .wel_bg_cnt > .wel_content{width: 50%;
       }

 

