@media only screen and (max-width: 1920px) and (min-width: 1601px) {
    .welcome_box img.padt5 {
        padding: 2.5% 0 2% 0;
    }

    .wel_bg_cnt {        
        padding: 6.5% 0 3% 14%;
    }
}

@media only screen and (min-width: 1281px) {
    .container_wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    /*WRITE TO US*/
    .welcome_box img.padt5 {
        padding: 3.6% 0;
    }

    .welcome_box {
        background-size: 70%;
        min-height: 402px;
    }

    #welcome_img{width: 46%}

    /*WRITE TO US END*/

    .business_wrapper > .business_btn_wrapper > p {
        font-size: 17.44px;
    }
    .feature_box > .feature_circle {
        margin: 0 27%;
    }
    .width50_per > .create_btn {
        font-size: 1.2em;
        width: 36.1%;
    }
    .width33_per > .humanity_wrapper h2 {
        font-size: 22.78px;
        line-height: 27.78px;
    }
    .width33_per > .humanity_wrapper p { 
        font-size: 14.44px;
    line-height: 19.44px;
    }


    /*Business section*/
    .business_box {
        margin-top: -60px;
    }

    .column_middle {        
        transform: translateY(-250px);
    }

    .business_wrapper > .business_btn_wrapper > a > p {
        padding: 15px 10px;
    }

    /*Automate America Purpose Section*/

    .padd {
        padding-right: 3%;
    }

    .width50_per2.padd.floatr p {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    .team {
        width: 550px;
    }

    .m-t-250 {
        margin-top: 28%;
    }

    .width60_per2 {
        width: 67%;
        display: inline-block;
        box-sizing: border-box;
    }

    .about:after {
        left: 33%;
    }

    .about_right_para p {        
        line-height: 21px;
        margin-bottom: 12px;
    }

    /*Benefit Section*/

    #personal .width33_per > h2 {
        line-height: 7;
    }

    /*feature Section*/
    .feature_box {
        min-height: 220px;
    }

}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    /*WRITE TO US*/
    .welcome_box img.padt5 {
        padding: 2% 0;
    }

    .welcome_box {        
        background-size: 72%;
     /*min-height: 392px;*/
    }

    .welcome_box > .wel_bg_cnt > .wel_content > p{font-size: 14px;}

    .welcome_box > .wel_bg_cnt > .wel_content input[type="text"]{
            padding:10px 4%;
    }

     .wel_bg_cnt{
        width: 65%;
    }


    /*Feature Section*/

   
    .feature_box > .feature_circle {
        margin: 0 28%;
    }
    .width50_per > .create_btn {
        font-size: 1em;
    }
    .feature_box {
        padding: 0 3% 2% 3%;
        min-height: 253px;
    }
    .width33_per > .humanity_wrapper h2 {
        font-size: 22.78px;
        line-height: 27.78px;
    }
    .width33_per > .humanity_wrapper p { 
        font-size: 14.44px;
        line-height: 19.44px;
    }

    .top110
    {
        top:176px;
    }

    .feature_box p.last-child {
        padding: 15px 5px;
    }
    
    /*BUSINESS & CONTRACTOR*/

    .head-part2 p, .head-part p {
        width: 90%;
        min-height: 148px;
        margin: 0 auto;
    }

    .column_middle {
        display: inline-block;
        width: 18%;
        transform: translateY(-210px);
        box-sizing: border-box;
    }

    .btn_buss, .btn_cntr {
        margin-top: -2.8em;
    }


    /*Automate America Purpose Section*/

    .padd {
        padding-right: 2%;
    }

    .width50_per2.padd.floatr p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .team {
        width: 520px;
    }

    .m-t-250 {
        margin-top: 30%;
    }

    .width60_per2 {
        width: 67%;
    }

    .about:after {
        left: 33%;
    }

    /*Benefit Section*/

    #personal .width33_per > h2 {
        line-height: 52px;
    }

    /*Footer Section*/
    footer > .width_65_per {
        width: 64%;
    }

    footer .width20_per {
        width: 23%;
    }

    /***ABOUT US***/

    .about_right_para p {
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #fff;
}

    #welcome_img {
        width: 50%;
   }


}