@media screen and (max-device-width: 425px)  {

    body {
      margin: 0;
      padding-top: 87px;
    }    

    .hamburger-icon span {
        color: #17aec8;
        border: 1px solid;
        display: inline-block;
        width: 8%;
    }

    .desk-none {
        display: inline-block;
        float: left;
    }

    .nav-open {
        display: none;
    }

    .img-responsive {
        width: 100% !important;
    }    

    .marr18 {
        margin-right: 0px;
    }

    .m-b-0 {
        margin-bottom: 0px !important;
    }

    h1 {
        font-size: 20px !important;
    }

    p {
        font-size: 14px !important;
    }

    .hidden-xs {
        display: none !important;
    }

    .wrapper > .container {
        width: 95%;
    }
    

    /*Navigation*/

    .width78_per {
        width: 100%;
    }

    nav ul li {
        display: block;
        text-align: left;
        line-height: 34px;
        border-bottom: 1px solid #17aec8;
    }

    nav ul li:first-child {
        margin-left: 2%;
    }

    nav ul li:last-child {
        border-bottom: 0px;
    }

    /*ABOUT US SECTION*/
    .width50_per2 {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .padd {
        padding: 20px;
    }

    .width50_per2.padd.floatr p {
        font-size: 14px;
    }

    .width40_per2, .width60_per2 {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .about:after {
        content: "";
        display: none;
    }

    .m-t-250 {
        margin-top: 0%;
    }

    .width60_per2.padd.floatr p {
        font-size: 14px;
    }

    /*WRITE TO US SECTION*/
    .welcome_box > .wel_content {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        float: none;
    }    

    .welcome_box img.padt5 {
        padding: 0;
    }

    .welcome_box {        
        min-height: 290px;
        width:100%;
    }

    .welcome_box > .wel_content > p {
        margin: 5% 0 3%;
    }

    .business_wrapper > .business_btn_wrapper2 {
        width: 30%;
        margin: 20px auto 0;
    }

    .business_wrapper > .business_btn_wrapper2 > p {
        padding: 10px;
        letter-spacing: 2px;
    }

    .welcome_box > .wel_content input[type="text"].marb35 {
        margin-bottom: 20px;
    }

    .welcome_box > .wel_content input[type="text"] {
        padding: 10px 4%;
        font-size: 14px;
    }

    /*FOOTER SECTION*/

    .wrapper > .container > footer {
        padding: 30px 0 10px;
    }

    footer > .width_65_per, 
    footer > .width_35_per,
    .width20_per, .width58_per,
    footer > .info_footer > .width_40_per,
    footer > .info_footer > .width_21_per {
        width: 100%;
    }

    footer > .info_footer > .width_40_per,
    footer > .info_footer > .width_21_per {
        display: block;
        margin-bottom: 10px;
    }

    .width_35_per img, .width_35_per.padb20 {
        display: none;
    }

    .floatr {
        float: none;
    }

    .social_icon {
        margin-top: 15px;
    }

    .social_icon > span {
        display: inline-block;
        margin-right: 5%;
        margin-left: 0;
        float: left;
    }

    .padtb20 {
        padding: 10px 0;
    }

    
    /*BENEFITS SECTION*/
    .width33_per, .wrapper > .container > div.benefit_wrapper > p {
        width: 100%;
    }

    .wrapper > .container > div.benefit_wrapper > p {
        font-size: 14px;
    }

    #personal .width33_per > h2 {
        line-height: 4;
    }

    /*BUSINESS & CONTRACTOR*/
    .column_business, .column_contractor, .btn_buss, .btn_cntr {
        width: 100%;
    }

    .head-part h3, .head-part2 h3 {
        font-size: 20px;
    }

    .head-part p, .head-part2 p {
        margin: 0 auto;
        width: 95%;
    }

    .btn_buss, .btn_cntr {
        font-size: 11px;
        margin-top: -3em;
    }

    .btn_buss a, .btn_cntr a {
        padding: 10px;
    }


    /*BANNER SECTION BUTTON*/
    .width50_per {
        width: 48.5%;
    }

    .width50_per > .create_btn {
        width: 75%;
        font-size: 12px;
    }

    .width50_per > .create_btn > a {
        padding: 2% 2%;
        line-height: 19px;
    }

    /*FEATURE SECTION*/

    .wrapper > .container > div.benefit_wrapper2 > p {
        width: 100%;
        padding-bottom: 50px;

    }

    .feature_box > .feature_circle {
        margin: 0 35%;
        width: 70px;
        height: 70px;
        top: -40px;
    }

    .feature_box {
        width: 100%;        
        margin-bottom: 16%;
    }

    .feature_box > p {
        font-size: 14px;
    }

    .feature_box_icon_img > img {
        width: 30px;
    }

    footer > .info_footer ul li {
        font-family: 'montserratlight';
        font-size: 12px;
    }




    /*HEADER SECTION*/
    .header_font_wrapper .font-style {
        font-size: 18px;
    }



    /*ABOUT US*/

    .aboutbg {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
    background-size: cover;
    }
    .abt_left{
        width: 100%;
        margin-right: 0;}

    .about_right_para{width: 100%;
        margin-top: 25px;
       }

    .read_btn{
        width: 90%;
        position:relative;
    }
    .aboutbg:before{background: rgba(16, 21, 22, 0.3);}

    .wel_bg_cnt{
        width: 100%;
        position: relative;
        padding: 3% 0;
    }
    .welcome_box > .wel_bg_cnt > .wel_content{
        width: 100%
    }
    #welcome_img{width: 100%}

    .welcome_box > .wel_bg_cnt > .wel_content input[type="text"]{
        font-size: 14px;
    }

}


/*iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {

    h1,h2,h3 {
        font-size: 19px !important;
    }

    p {
        font-size: 14px !important;
    }

    .wrapper > .container {
        width: 90%;
    }

    .hamburger-icon span {
        color: #17aec8;
        border: 2px solid;
        display: inline-block;
        width: 8%;
    }

    .width20_per, .width78_per {
        width: 100%;
    }

    .desk-none {
        display: inline-block;
        float: right;
    }

    .nav-open {
        display: none;
    }

    /*Banner Section*/
    .header_font_wrapper .font-style {
        font-size: 20px;
    }

    .width50_per > .create_btn {
        width: 45%;
        font-size: 15px;
    }

    .width50_per > .create_btn > a {
        padding: 5%;
        line-height: 20px;
    }

    /*BENEFITS Section*/
    .width33_per > h2 {
        line-height: 10px;
    }

    #personal .width33_per > h2 {
        line-height: 30px;
    }

    .width33_per > .humanity_wrapper p {
        font-size: 12px;
    }

    .width33_per > .humanity_wrapper {
        max-height: 126px;
        overflow: scroll;
    }


    /*Feature Section*/

    .wrapper > .container > div.benefit_wrapper2 > p.padb85 {
        padding-bottom: 65px;
    }

    .feature_box {
        width: 99%;
        min-height: 215px;
    }

    .feature_box_img > img {
        width: 570px;
    }

    .feature_box > .feature_circle {
        width: 80px;
        height: 80px;
        margin: 0 30%;
        top: -45px;
    }

    .feature_box_icon_img > img {
        width: 35px;
    }

    

    /*BUSINESS & CONTRACTOR*/

    .head-part2 p, .head-part p {
        width: 90%;
        min-height: 148px;
        margin: 0 auto;
    }
    .column_business {
        width: 39.75%;
        display: inline-block;
    }

    .column_middle {
        transform: translateY(-130px);
    }
    
    .column_contractor {
        width: 40%;
        display: inline-block;
    }

    .btn_buss, .btn_cntr {
        margin-top: -1.8em;
    }

    .btn_buss a, .btn_cntr a {
        font-size: 12px;
        padding: 8px 12px;
    }


    /*ABOUT US SECTION*/

    .width40_per2, .about:after {
        display: none;
    }

    .width60_per2 {
        width: 100%;
        padding: 20px;
    }

    
    /*WRITE TO US SECTION*/
    .welcome_box > .wel_content input[type="text"].marb35 {
        margin-bottom: 20px;
    }
    
    .welcome_box > .wel_content input[type="text"] {
        font-size: 14px;
        width: 100%;
        padding: 4%;
    }

    .welcome_box {        
        min-height: 340px;
        /*margin-top: 30px;*/
        background-size: 85%;
    }

    .business_wrapper > .business_btn_wrapper2 {
        margin: 20px auto;
    }

    .welcome_box img.padt5 {
        padding: 4.9% 0;
    }

    /*Footer Section*/

    footer > .width_65_per {
        width: 60%;
    }

    footer > .width_35_per, footer .width20_per {
        width: 39%
    }


    /*****ABOUT US SECTION **********/

    .about_right_para p{
        line-height: 20px;
    }

    .abt_left{
        margin-right: 0px;}

    .aboutbg{
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: cover;
    }

    .read_btn{position: relative;
        width: 100%;
    }

     .hidden-sm{
        display: none !important; 
    }

    .wel_bg_cnt{width: 100%;
        padding: 0px}

    .welcome_box > .wel_bg_cnt > .wel_content{
        width: 50%;
        margin: 0 auto;
        padding-top: 10px;
    }
}